<div class="calendar-container">
  <div class="calendar-header">
    <button mat-icon-button (click)="previousMonth()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="month-year">
      {{ currentDate | date:'MMMM yyyy' }}
    </span>
    <button mat-icon-button (click)="nextMonth()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="weekdays-header">
    <div class="weekday" *ngFor="let day of weekDays">{{ day }}</div>
  </div>

  <div class="calendar-grid">
    <div *ngFor="let day of calendarDays"
         class="day-cell"
         [class.current-month]="day.isCurrentMonth"
         [id]="day.id"
         cdkDropList
         [cdkDropListData]="day.mealPlans"
         [cdkDropListConnectedTo]="connectedDropLists"
         (cdkDropListDropped)="onDrop($event)">

      <div class="day-header">
        <span class="day-number">{{ day.date | date:'d' }}</span>
        <button mat-icon-button (click)="addMealPlan(day.date)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="meal-plans">
        <mat-card *ngFor="let plan of day.mealPlans"
                  class="meal-plan-card"
                  cdkDrag
                  [cdkDragData]="plan">
          <mat-card-header>
            <mat-card-title>{{ plan.recipe.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button [routerLink]="['/recipes', plan.recipe.id]">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteMealPlan(plan.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
