<div class="gutter-example">
  <div nz-row [nzGutter]="[hGutter, vGutter]">
    @for (category of categories; track $index) {
      <div nz-col class="gutter-row" [nzSpan]="24 / cols">
        <div class="grid-content">
          <app-pantry-card/>
          <!--          <nz-card [nzTitle]="'category ' + (+$index+1)"-->
          <!--          >-->
          <!--            <ng-container>-->
          <!--              <div>category Description {{ $index + 1 }}</div>-->
          <!--            </ng-container>-->
          <!--          </nz-card>-->
        </div>
      </div>
    }
  </div>
</div>
