<div class="content-container">
  <div class="header">
    <h2>Recipes</h2>
    <button mat-raised-button color="primary" (click)="openForm()">
      Add Recipe
    </button>
  </div>

  <mat-table [dataSource]="recipes" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitchen">
      <mat-header-cell *matHeaderCellDef> Kitchen</mat-header-cell>
      <mat-cell *matCellDef="let recipe"> {{ recipe.kitchen.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let recipe">
        <button mat-icon-button (click)="openForm(recipe)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(recipe.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
