<h2 mat-dialog-title>{{ data.id ? 'Edit' : 'Add' }} Recipe</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kitchen</mat-label>
      <mat-select formControlName="kitchen" [compareWith]="compareKitchens">
        <mat-option *ngFor="let kitchen of kitchens" [value]="kitchen">
          {{ kitchen.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ingredients</mat-label>
      <mat-select formControlName="ingredients" multiple [compareWith]="compareIngredients">
        <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
          {{ ingredient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
