<!-- shopping-list.component.html -->
<div class="content-container">
  <mat-toolbar-row class="header">
    <h2>Shopping List</h2>
    <button mat-raised-button color="primary" (click)="openForm()">
      Add Item
    </button>
  </mat-toolbar-row>

  <div class="category-grid">
    <mat-card *ngFor="let category of groupedShoppingList | keyvalue">
      <mat-card-header>
        <mat-card-title>{{ category.key }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of category.value">
            <span matListItemTitle>{{ item.ingredient.name }}</span>
            <div matListItemMeta>
              <button mat-icon-button color="warn" (click)="delete(item.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
